@model webbanhang.Models.SANPHAM
@{
    ViewBag.Title = "xoa";
    Layout = "~/Views/Layout/adminlayout.cshtml";
}

<div style="margin: 10px auto; width: 70%;">
    <h2 style="text-align: center">Xóa sản phẩm</h2>
    @using (Html.BeginForm("xoa", "admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })



            @Html.Hidden("MASP", Model.MASP)
            <div class="form-group">
                @* @Html.LabelFor(model => model.TENSP, htmlAttributes: new { @class = "control-label col-md-2" })*@

                <div class="col-md-10">
                    Tên Sản Phẩm
                    @Html.EditorFor(model => model.TENSP, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TENSP, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @* @Html.LabelFor(model => model.DONGIA, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    Đơn Gía
                    @Html.EditorFor(model => model.DONGIA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DONGIA, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*   @Html.LabelFor(model => model.NGAYCAPNHAP, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    Ngày Cập Nhập
                    <input name:"NGAYCAPNHAP" type="date" class="form-control" />
                    @* @Html.EditorFor(model => model.NGAYCAPNHAP, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.NGAYCAPNHAP, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @* @Html.LabelFor(model => model.CAUHINH, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    Cấu Hình
                    @Html.EditorFor(model => model.CAUHINH, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CAUHINH, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*  @Html.LabelFor(model => model.MOTA, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    Mô Tả
                    @Html.EditorFor(model => model.MOTA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MOTA, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @* @Html.LabelFor(model => model.SOLUONGTON, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    Số Lượng Tồn
                    @Html.EditorFor(model => model.SOLUONGTON, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SOLUONGTON, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @*  @Html.LabelFor(model => model.MOI, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    Mới
                    @Html.EditorFor(model => model.MOI, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MOI, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*  @Html.LabelFor(model => model.MANCC, "MANCC", htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    Mã Nhà Cung Cấp
                    @Html.DropDownList("MANCC", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MANCC, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @*  @Html.LabelFor(model => model.MALOAISP, "MALOAISP", htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    Mã Loại Sản Phẩm
                    @Html.DropDownList("MALOAISP", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @* @Html.LabelFor(model => model.MANSX, "MANSX", htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    Mã Nhà Sản Xuất
                    @Html.DropDownList("MANSX", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MANSX, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    Chọn File ảnh
                    <input type="file" name="HINHANH" value="@Model.HINHANH" />
                    <span>@ViewBag.upload</span>
                    @Html.ValidationMessageFor(model => model.HINHANH, "", new { @class = "text-danger" })
                    <img src="@Url.Content("~/Content/img/"+Model.HINHANH)" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Xác nhận xóa" class="btn btn-danger" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Quay Lại", "Index")
    </div>

</div>
