@model webbanhang.Models.SANPHAM

<link rel="stylesheet" href="~/Content/css/style.css">

@{
    ViewBag.Title = "chitietsanpham";
    Layout = "~/Views/Layout/sanphamlayout.cshtml";
}
<link rel="stylesheet" href="~/Content/css/blog.css">
<link rel="stylesheet" href="~/Content/css/sanpham.css">
<div class="row">
    <div class="col-md-5 single-top">
        <div class="flexslider">
            <ul class="slides" style="width: 100%; border: 3px solid #cc00ff61">
                <li data-thumb="@Url.Content("~/Content/img/"+Model.HINHANH)">
                    <img style="width:100%;padding:10px" src="@Url.Content("~/Content/img/"+Model.HINHANH)" />
                </li>

            </ul>
        </div>

        <script defer src="js/jquery.flexslider.js"></script>



    </div>
    <div class="col-md-7 single-top-in simpleCart_shelfItem">
        <div class="single-para ">
            <h4>@Model.TENSP</h4>
            <div class="star-on">
                <ul class="star-footer">
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i> </i></a></li>
                </ul>
                <div class="review">
                    <a href="#"> 1 customer review </a>

                </div>
                <div class="clearfix"> </div>
            </div>

            <h5 class="item_price">@Model.DONGIA.Value.ToString("#,##") đ</h5>
            
             
          

            @* <ul class="tag-men">
                    <li>
                        <span>TAG</span>
                        <span class="women1">: Women,</span>
                    </li>
                    <li>
                        <span>SKU</span>
                        <span class="women1">: CK09</span>
                    </li>
                </ul>*@
            <a href="@Url.Action("themgiohang","giohang",new { @MASP=Model.MASP,@strURL=Request.Url.ToString()})" class="add-cart item_add">ADD TO CART</a>

        </div>
    </div>
    <div class="clearfix"> </div>

    @*<div class="cd-tabs">
            <nav>
                <ul class="cd-tabs-navigation">
                    <li><a data-content="fashion" href="#0">Description </a></li>
                    <li><a data-content="cinema" href="#0">Addtional Informatioan</a></li>
                    <li><a data-content="television" href="#0" class="selected ">Reviews (1)</a></li>

                </ul>
            </nav>
            <ul class="cd-tabs-content">
                <li data-content="fashion">
                    <div class="facts">
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority
                            have suffered alteration in some form, by injected humour, or randomised words
                            which
                            don't look even slightly believable. If you are going to use a passage of Lorem
                            Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                            middle of
                            text. All the Lorem Ipsum generators on the Internet tend to repeat predefined
                            chunks as necessary, making this the first true generator on the Internet. It
                            uses a
                            dictionary of over 200 Latin words, combined
                        </p>
                        <ul>
                            <li>Research</li>
                            <li>Design and Development</li>
                            <li>Porting and Optimization</li>
                            <li>System integration</li>
                            <li>Verification, Validation and Testing</li>
                            <li>Maintenance and Support</li>
                        </ul>
                    </div>

                </li>
                <li data-content="cinema">
                    <div class="facts1">

                        <div class="color">
                            <p>Color</p>
                            <span>Blue, Black, Red</span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="color">
                            <p>Size</p>
                            <span>S, M, L, XL</span>
                            <div class="clearfix"></div>
                        </div>

                    </div>

                </li>
                <li data-content="television" class="selected">
                    <div class="comments-top-top">
                        <div class="top-comment-left">
                            <img class="img-responsive" src="images/co.png" alt="">
                        </div>
                        <div class="top-comment-right">
                            <h6><a href="#">Hendri</a> - September 3, 2014</h6>
                            <ul class="star-footer">
                                <li><a href="#"><i> </i></a></li>
                                <li><a href="#"><i> </i></a></li>
                                <li><a href="#"><i> </i></a></li>
                                <li><a href="#"><i> </i></a></li>
                                <li><a href="#"><i> </i></a></li>
                            </ul>
                            <p>Wow nice!</p>
                        </div>
                        <div class="clearfix"> </div>
                        <a class="add-re" href="#">ADD REVIEW</a>
                    </div>

                </li>
                <div class="clearfix"></div>
            </ul>
        </div>*@



    <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
            <a class="nav-link cam" data-bs-toggle="pill" href="#home">Tin Tức Mới</a>
        </li>
        <li class="nav-item">
            <a class="nav-link cam" data-bs-toggle="pill" href="#menu1">Chi tiết Máy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active cam" data-bs-toggle="pill" href="#menu2">Bình Luận</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="home" class="container tab-pane fade ">
            <br>
            <div class="facts">
                <p>
                    @Html.Raw(Model.MOTA)
                </p>

            </div>
        </div>
        <div id="menu1" class="container tab-pane fade">
            <br>
            @Html.Raw(Model.CAUHINH)
        </div>
        <div id="menu2" class="container tab-pane active">
            <br>
            <div class="comments-top-top">
                <div class="top-comment-left">
                    <img class="img-responsive" src="~/Content/img/co.png" alt="">
                </div>
                <div class="top-comment-right">
                    <h6><a href="#">THAIPHI</a> -15-08-2022</h6>
                    <ul class="star-footer">
                        <li><a href="#"><i> </i></a></li>
                        <li><a href="#"><i> </i></a></li>
                        <li><a href="#"><i> </i></a></li>
                        <li><a href="#"><i> </i></a></li>
                        <li><a href="#"><i> </i></a></li>
                    </ul>
                    <p>Tốt Lắm!</p>
                </div>
                <div class="clearfix"> </div>
                <a class="add-re" href="#">ADD REVIEW</a>
            </div>
        </div>
    </div>







</div>
<style>
    table.table {
       color:#fff;
    }
    main {
        margin-top: 90px;
    }
</style>




